cache
compact_log.txt
config
debug
DirectML.dll
fastdeploy_ppocr.dll
filelist.txt
MAA.exe
MAA.pdb
MaaCore.lib
MaaCore.pdb
MaaCoreexp
MaaCore.dll
MaaResource
onnxruntime_maa.dll
opencv_world4_maa.dll
Python
resource